@use "global" as *;

.blog-contents-layout{
    margin-top: rem(46);
      @include mq("md") {
     margin-top: rem(149);
      }
}

.blog-contents-layout.blog-contents-layout--single{
    @include mq("md") {
   margin-top: rem(144);
    }
}