@use "global" as *;
.about__layout{
  margin-top: rem(83);
  @include mq("md") {
    margin-top: rem(143);
  }
}

.about__content {
  margin-top: rem(54);
  @include mq("md") {
    position: relative;
    margin-top: rem(120);
  }
}
.about__text-container {
  margin-top: rem(40);
  @include mq("md") {
    display: flex;
    position: absolute;
    top: 20.7%;
    right: 0;
    margin-right: rem(40);
    margin-left: rem(20);
    margin-top: rem(0);
  }
}
.about__text-wrap {
  @include mq("md") {
    max-width: rem(400);
    margin-left: rem(40);
  }
}
.about__title{
  font-family: $second-font-family;
}
.about_text {
  margin-top: rem(19);
  white-space: normal;
  @include mq("md") {
    margin-top: rem(2);
  }
}
.about__button-wrap {
  text-align: center;
  margin-top: rem(47);
  @include mq("md") {
    margin-top: rem(37);
  }
}
.about__layer-image {
  position: absolute;
  right: calc(50% - min(50vw, rem(657)) + rem(20));
  bottom: rem(-90);
  width: rem(194);
}
