@use "global" as *;

.about__inner {
  padding-top: rem(83);
  padding-bottom: rem(72);
  @include mq("md") {
    padding-top: rem(143);
    padding-bottom: rem(140);
  }
}
.about__content {
  margin-top: rem(27);
  @include mq("md") {
    position: relative;
    margin-top: rem(38);
  }
}
.about__text-container {
  padding-top: rem(40);
  @include mq("md") {
    display: flex;
    position: absolute;
    top: 30.357%;
    right: 0;
    margin-right: rem(40);
    margin-left: rem(20);
    padding-top: rem(0);
  }
}
.about__text-wrap {
  @include mq("md") {
    max-width: rem(400);
    margin-left: rem(40);
  }
}
.about_text {
  padding-top: rem(19);
  white-space: normal;
  @include mq("md") {
    padding-top: rem(2);
  }
}
.about__button-wrap {
  text-align: center;
  padding-top: rem(47);
  @include mq("md") {
    padding-top: rem(37);
  }
}
.about__layer-image {
  position: absolute;
  right: calc(50% - min(50vw, rem(657)) + rem(20));
  bottom: rem(-90);
  width: rem(194);
}
