@use "global" as *;
.about__content{
  margin-top: rem(54);
    @include mq("md") {
   margin-top: rem(119);
    }
}

.about__layer-image {
  position: absolute;
  right: calc(50% - min(48vw, rem(637)));
  bottom: rem(-90);
  width: rem(194);
}
