@use "global" as *;

.blog-contents__inner{
    display: flex;
    flex-direction: column;
    gap: rem(80);
      @include mq("md") {
     flex-direction: row;
      }
}
.blog-contents__article{
  flex: 1;
}