@use "global" as *;

.blog-content{
    flex: 1;
      @include mq("md") {

      }
}
.blog-content__pagination{
    margin-top: rem(77);
      @include mq("md") {
     margin-top: rem(80);
      }
}
.blog-content__pagination.blog-content__pagination--single{
    margin-top: rem(40);
      @include mq("md") {
     margin-top: rem(83);
      }
}