@use "global" as *;

.blog {
  position: relative;
  @include mq("md") {
    padding-top: rem(100);
  }
}
.blog::before{
  @include mq("md") {
    content: "";
    position: absolute;
    width: 100%;
    height: rem(500);
    background-image: url(../images/top/blog-bg.jpg);
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
   z-index: -1;
    }
}


.blog__inner {
  max-width: rem(600);
  margin: auto;
}

// .blog__cards {
//   display: grid;
//   justify-content: center;
//   margin-top: rem(24);
//   grid-row-gap: rem(40);
//   grid-column-gap: rem(40);
//   grid-template-columns: 1fr;
//   padding-top: rem(3);
//   padding-left: rem(6);
//   padding-right: rem(6);
//   padding-bottom: rem(3);
//   @include mq("md") {
//     grid-template-columns: repeat(3, 1fr);
//     margin-top: rem(80);
//     padding: 0;
//   }
// }

.blog__button-wrap {
  text-align: center;
  margin-top: rem(37);
  @include mq("md") {
    margin-top: rem(83);
  }
}

.blog__layer-image {
  position: absolute;
  top: rem(24);
  left: calc(50% - min(48vw, rem(620)));
  width: rem(437);
}

.blog__cards{
  margin-top: rem(24);
    @include mq("md") {
   margin-top: rem((80));
    }
}