@use "global" as *;

.blog-card {
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black, $alpha: 0.25);
  background-color: $white;
}

.blog-card__inner {
  padding: rem(16) rem(16) rem(24);
  opacity: 1;
  transition: opacity 0.3s;
  @include mq("md") {
    padding-top: rem(16);
  }
}
.blog-card__inner:hover {
  opacity: 0.5;
}

.blog-card__image-container {
  width: 100%;
}
.blog-card__image-container img {
  width: 100%;

  object-fit: cover;
  aspect-ratio: 301 / 201;
}

.blog-card__body{
    margin-top: rem(18);
  @include mq("md") {
    margin-top: rem(17);
  }
}
.blog-card__time {
  color: $deepGreen;
  font-weight: $regular;
  font-size: rem(12);
  display: inline-block;
}

.blog-card__title {
  padding-bottom: rem(4);
  border-bottom: rem(1) solid $accentGreen;
  @include mq("md") {
 padding-bottom: rem(5);
  }
}

.blog-card__text {
  margin-top: rem(15);
}
