@use "global" as *;

.blog{
  @include mq("md"){
    position: relative;
    background-image: url(../images/top/blog-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.blog__inner{
  padding-top: rem(80);
  @include mq("md"){
    padding-top: rem(100);
  }
}

.blog__cards{
  display: grid;
  justify-content: center;
  margin-top: rem(24);
  row-gap: rem(40);
  column-gap: rem(40);
  grid-template-columns: repeat(auto-fit, min(100%, rem(333)));
  @include mq("md"){
    margin-top: rem(80);
  }
}

.blog__button-wrap{
  text-align: center;
}

.blog__button{
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(80);
  }
}

.blog__layer-image{
  position: absolute;
  top: rem(24);
  left: 8.77%;
  width: rem(437);
}