@use "global" as *;
.breadcrumb {

}

.breadcrumb__inner {
display: flex;
gap: rem(8);
align-items: center;
}
.breadcrumb__inner a{
    text-transform: uppercase;
    color: $deepGreen;
    font-size: rem(14);
}

.breadcrumb__inner.breadcrumb__inner--404 a{
    color: $white;
}

.breadcrumb__arrow{
    display: inline-block;
    width: rem(6);
    height: rem(6);
    border-top: rem(1) solid $deepGreen;
    border-right: rem(1) solid $deepGreen;
    transform: rotate(45deg);
}

.breadcrumb__arrow.breadcrumb__arrow--white{
    border-top-color: $white;
    border-right-color: $white;
}