@use "global" as *;

.button{
  display: inline-block;
  position: relative;
  z-index: 1;
  max-width: rem(300);
  padding: rem(16) rem(40);
  border: rem(1) solid $accentGreen;
  background: $accentGreen;
  font-weight: bold;
  text-align: center;
    @include mq("md") {
   padding-bottom: rem(15);
   padding-right: rem(38);
    }
}
.button::after{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0, 1);
  width: 100%;
  height: 100%;
  background: $white;
  content: "";
  transition: .1s cubic-bezier(.45, 0, .55, 1);
  transform-origin: left top;
}
.button:hover::after{
  transform: scale(1, 1);
}

.button::before{
  position: absolute;
  top: rem(4);
  left: rem(4);
  z-index: -1;
  width: 100%;
  height: 100%;
  border: rem(1) solid $accentGreen;
  content: "";
}

.button:hover .button__text{
  color: $accentGreen;
}
.button__text{
  display: flex;
  align-items: center;
  position: relative;
  color: $white;
  font-size: rem(14);
  line-height: 1.571;
  transition: color .3s;
}

.button__text::before{
  position: absolute;
  top: 40%;
  right: 0;
  transform: rotate(30deg) translateY(-50%);
  transition: background-color .3s;
  width: rem(10);
  height: rem(1);
  border-radius: 100vh;
  background-color: $white;
  content: "";
}
.button__text::after{
  width: rem(40);
  height: rem(1);
  margin-left: rem(8);
  border-radius: 100vh;
  background-color: $white;
  content: "";
  transition: background-color .3s;
}

.button:hover .button__text::before, .button:hover .button__text::after{
  background-color: $accentGreen;
}