@use "global" as *;

.campaign__inner {
  padding-top: rem(40);
  @include mq("md") {
    padding-top: rem(120);
    width: 100%;
    max-width: rem(1440);
    margin: 0 auto;
  }
}

.campaign__slider {
  width: 100%;
  padding: 0 rem(14);
  @include mq("md") {
    padding: 0 rem(180);
    position: relative;
  }
}

.campaign__slider-wrap {
  padding-top: rem(26);
  padding-bottom: rem(41);
  @include mq("md") {
    padding-top: rem(38);
    padding-bottom: rem(80);
  }
}

.campaign__slider-arrows {
  display: flex;
  position: absolute;
  top: rem(23);
  left: calc(50% + rem(420));
  transform: translateX(-50%);
  gap: rem(100);
}

.campaign__button-wrap {
  text-align: center;
}
