@use "global" as *;

.campaign-card {
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black, $alpha: 0.25);
  background-color: $white;
  display: inline-block;
  height: 100%;
}

.campaign-card__inner {
  height: auto;
}
.campaign-card__image-container {
  width: 100%;
}
.campaign-card__image {
  width: 100%;
  aspect-ratio: 280/188;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 334/225;
  }
}

.campaign-card__body {
  padding: rem(16) rem(16) rem(16);
  @include mq("md") {
    padding: rem(24) rem(16) rem(29);
  }
}

.campaign-card__tag {
  display: inline-block;
  padding: rem(7) rem(11) rem(3);
  border: rem(1) solid $accentGreen;
  color: $accentGreen;
  font-weight: $bold;
  font-size: rem(12);
  @include mq("md") {
    padding: rem(10) rem(15) rem(4);
  }
}

.campaign-card__title {
  margin-top:  rem(7);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // padding-bottom: rem(4);
  position: relative;
}
.campaign-card__title::after{
    position: absolute;
    content: "";
    width: 100%;
    height: rem(1);
    background-color: $accentGreen;
    bottom: rem(3);
    left: 0;
}

.campaign-card__text {
  margin-top: rem(12);
  color: $deepGreen;
  font-weight: $regular;
  line-height: 1;
  font-size: rem(14);
  text-align: center;
  @include mq("md") {
    margin-top: rem(19);
    font-size: rem(16);
  }
}

.campaign-card__price {
  padding-top: rem(2);
  @include mq("md") {
    padding-top: rem(0);
  }
}

.campaign-card__before-price,
.campaign-card__after-price {
  display: inline-block;
  font-family: "Lato", "Noto Sans Jp", sans-serif;
}

.campaign-card__before-price {
  position: relative;
  color: $deepGreen;
  font-weight: $bold;
  font-size: rem(20);
  display: inline-block;
  margin-left: rem(20);
  @include mq("md") {
    font-size: rem(24);
  }
}

.campaign-card__after-price {
  margin-left: rem(14);
  color: $accentGreen;
  font-weight: $bold;
  font-size: rem(32);
  @include mq("md") {
    font-size: rem(40);
    margin-left: rem(21);
  }
}
.campaign-card__before-price::before,
.campaign-card__after-price::before {
  content: "\0a5";
}

.campaign-card__before-price::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: rem(3);
  background-color: $red;
  content: "";
}
