@use "global" as *;

.campaign-content__cats {
display: grid;
column-gap: rem(21);
row-gap: rem(16);
grid-template-columns: repeat(2,min(100%,rem(162)));
justify-content: center;
@include mq("md") {
      grid-template-columns: repeat(4,rem(162));
      justify-content: start;
  }
}

.campaign-content__items{
    margin-top: rem(40);
    display: grid;
    row-gap: rem(40);
    column-gap: rem(40);
    grid-template-columns: repeat(1fr);
    @include mq("md") {
        grid-template-columns: repeat(2,1fr);
        row-gap: rem(80);
      }
}

.campaign-content__pagination{
margin-top: rem(80);
}