@use "global" as *;
.campaign {
  padding-bottom: rem(4);
  overflow: hidden;
}

.campaign__layout{
  margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(120);
      }
}

.campaign__inner {
  @include mq("md") {
    position: relative;
  }
}

.campaign__slider {
  margin-top: rem(28);
  padding-bottom: rem(10);
  margin-right: calc(50% - 50vw);
  @include mq("md") {
    margin-top: rem(38);
  }
}

.campaign .campaign__slider-prev,
.campaign .campaign__slider-next {
  @include mq("md") {
    position: absolute;
    top: rem(23);
  }
}
.campaign .campaign__slider-prev {
  @include mq("md") {
    left: 76.5%;
  }
}
.campaign .campaign__slider-next {
  @include mq("md") {
    left: 90.6%;
  }
}
.campaign__button-wrap {
  margin-top: rem(30);
  text-align: center;
  @include mq("md") {
    margin-top: rem(70);
  }
}
