@use "global" as *;

.contact-content__inner{
    width: 100%;
    max-width: rem(700);
    margin-inline: auto;
    padding-left: rem(15);
    padding-right: rem(15);
      @include mq("md") {
     padding-left: rem(25);
     padding-right: rem(25);
      }
}