@use "global" as *;

.contact {
  position: relative;
  filter: drop-shadow(0 rem(4) rem(4) rgba($color: $black, $alpha: 0.25));
  margin-top: rem(80);
  @include mq("md") {
    filter: none;
    margin-top: rem(140);
  }
}

.contact__container {
  display: flex;
  flex-direction: column;
  @include mq("md") {
    flex-direction: row;
    width: 75%;
    max-width: rem(1100);
    margin-right: auto;
    margin-left: auto;
    padding-top: rem(80);
    padding-bottom: rem(79);
    box-shadow: rem(4) rem(4) rem(10) rgba($color: $black, $alpha: 0.25);
  }
}

.contact__shop-desc {
  padding-right: rem(40);
  padding-left: rem(40);
  @include mq("md") {
    width: 50%;
    padding-left: rem(50);
    padding-right: rem(19);
  }
}

.contact__logo-container {
  border-bottom: $accentGreen rem(1) solid;
  padding-bottom: rem(6);
  @include mq("md") {
    padding-bottom: rem(8);
  }
}

.contact__logo-container img {
  width: rem(174);
  margin: 0 auto;

  @include mq("md") {
    width: rem(200);
  }
}

.contact__info-wrap {
  display: flex;
  flex-direction: column;
  @include mq("md") {
    flex-direction: row;
    gap: rem(24);
  }
}
.contact__shop-info {
  margin-top: rem(20);
  @include mq("md") {
    margin-top: rem(27);
  }
}

.contact__info {
  color: $deepGreen;
  font-weight: $regular;
  font-size: rem(16);
  line-height: 1;
  font-family: "Noto Sans Jp", sans-serif;
  text-align: center;
  @include mq("md") {
    text-align: left;
    white-space: nowrap;
  }
}
.contact__info:not(:first-child) {
  margin-top: rem(12);
}
.contact__map-container {
  width: 100%;
  margin-top: rem(19);
  background-color: $gray;
  @include mq("md") {
    // width: 62%;
    margin-top: rem(23);
  }
}
.contact__map {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 51.86%;
  aspect-ratio: 295/160;
  @include mq("md") {
    padding-top: 54.21%;
    aspect-ratio: 273/148;
  }
}
.contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact_contact-area {
  @include mq("md") {
    width: 50%;
    margin-left: rem(61);
    border-left: rem(1) solid $accentGreen;
  }
}

.contact__text {
  margin-top: rem(8);
  color: $accentGreen;
  font-weight: $regular;
  font-size: rem(14);
  text-align: center;
  @include mq("md") {
    text-shadow: none;
    margin-top: rem(7);
  }
}

.contact__heading{
  margin-top: rem(53);
    @include mq("md") {
      margin-top: rem(34);
    }
}

.contact__button-wrap {
  text-align: center;
  margin-top: rem(37);
  @include mq("md") {
    margin-top:  rem(33);
  }
}

.contact__layer-fish {
  position: absolute;
  top: rem(-27);
  right: calc(50% - min(50vw, rem(690)) + rem(15));
  width: 29.06%;
  max-width: rem(301);
  @include mq("md") {
    top: rem(100);
    right: calc(50% - min(50vw, rem(690)) + rem(20));
  }
}
