 @use "global" as *;
//ドロワー
.drawer-menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: $accentGreen;
  cursor: pointer;
  display: none;
}

.drawer-menu__inner{
  width: 100%;
  height: inherit;
  margin-top: rem(80);
  padding-top: rem(27);
  padding-right: rem(15);
  padding-left: rem(15);
  padding-bottom: rem(100);
  overflow: scroll;
}

.drawer-menu__item:not(:first-child){
  margin-top: rem(50);
}
.drawer-menu__link{
  font-weight: $regular;
  font-size: rem(18);
}
.drawer-menu__link::before{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: rem(20);
  height: rem(20);
  background-image: url(/images/head-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  content: "";
}
.drawer__contact{
  width: rem(198);
  margin-top: rem(50);
}