@use "global" as *;

.error404-content__title,
.error404-content__text{
    text-align: center;
    color: $white;
    font-weight: $regular;
}

.error404-content__title{
    font-size: rem(80);
    font-family: "Lato",sans-serif;
    letter-spacing: 0.5em;
    line-height: 1;
      @include mq("md") {
     font-size: rem(160);
      }
}

.error404-content__text{
    font-size: rem(16);
    line-height: calc(24 / 16);
    margin-top: rem(2);
      @include mq("md") {
     margin-top: rem(39);
      }
}

.error404-content__button-wrap{
    margin-top: rem(40);
    text-align: center;
      @include mq("md") {
     margin-top: rem(79);
      }
}