@use "global" as *;
.error404-content__inner{
    padding-top: rem(52);
    padding-bottom: rem(44);
    background-image: url(../images/error404/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
      @include mq("md") {
     padding-top: rem(119);
     padding-bottom: rem(148);
      }
}

.error404-content__title,
.error404-content__text{
    text-align: center;
    color: $white;
    font-weight: $regular;
}

.error404-content__title{
    font-size: rem(80);
    font-family: "Lato",sans-serif;
    letter-spacing: 0.5em;
      @include mq("md") {
     font-size: rem(160);
      }
}

.error404-content__text{
    font-size: rem(16);
    line-height: calc(24 / 16);
      @include mq("md") {
     margin-top: rem(24);
      }
}

.error404-content__button-wrap{
    margin-top: rem(40);
    text-align: center;
      @include mq("md") {
     margin-top: rem(80);
      }
}