@use "global" as *;
.information {
  background-color: $lightGreen;
  padding-top: rem(80);
  padding-bottom: rem(82);
  @include mq("md") {
    padding-top: rem(99);
    padding-bottom: rem(100);
  }
}

.information__inner {
  max-width: rem(600);
  margin: auto;
  @include mq("md") {
  }
}

.information__content {
  display: flex;
  flex-direction: column;
  margin-top: rem(28);
  @include mq("md") {
    flex-direction: row;
    margin-top: rem(40);
  }
}

.information__image-container {
  @include mq("md") {
    width: 50%;
  }
}
.information__image-container img {
  width: 100%;
  aspect-ratio: 345/227;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 540/356;
  }
}

.information__title {
  padding-bottom: 0;
  border-bottom: rem(1) solid $accentGreen;
  @include mq("md") {
      padding-bottom: rem(2);
    }
}

.information__text-area {
  margin-top: rem(22);
  @include mq("md") {
    width: 50%;
    margin-top: rem(55);
    padding-left: rem(48);
  }
}

.information__text {
  margin-top: rem(7);
  @include mq("md") {
    margin-top: rem(7);
  }
}

.information__button-wrap {
  text-align: center;
  margin-top: rem(40);
}
