@use "global" as *;
.information{
  background-color: $lightGreen;
}

.information__inner{
  padding-top: rem(80);
  padding-bottom: rem(82);
  @include mq("md"){
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}


.information__content{
  display: flex;
  flex-direction: column;
  padding-top: rem(26);
  @include mq("md"){
    flex-direction: row;
    padding-top: rem(38);
  }
}

.information__image-container{
  @include mq("md"){
    width: 50%;
  }
}

.information__title{
  padding-bottom: rem(2);
    @include mq("md") {
   padding-bottom: rem(5);
    }
}

.information__text-area{
  padding-top: rem(30);
  @include mq("md"){
    width: 50%;
    padding-left: rem(48);
    padding-top: rem(64);
  }
}



.information__text{
  padding-top: rem(10);
}

.information__button-wrap{
  text-align: center;
  padding-top: rem(37);
}