@use "global" as *;

.layer-image {
  position: relative;
}
.layer-image__top {
  position: absolute;
  width: 37.1%;
  top: rem(-26);
    @include mq("md") {
      top: rem(-80);
    }
}

.layer-image__top.layer-image__top--about{
display: none;
  @include mq("md") {
 display: block;
  }
}

.layer-image__top img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 128/194;
  @include mq("md") {
    aspect-ratio: 400/606;
  }
}

.layer-image__bottom {
  width: 81.44%;
  // max-width: rem(880);
  z-index: -1;
  margin-left: auto;
  // margin-left: rem(63);
  @include mq("md") {
    // margin-left: rem(200);
  }
}

.layer-image__bottom.layer-image__bottom--about{
  width: 100%;
  @include mq("md") {
    width: 81.44%;
  }
}

.layer-image__bottom img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 281/186;
  @include mq("md") {
    aspect-ratio: 880/581;
  }
}
