
@use "global" as *;
.layer-fish{
    position: relative;
}

.layer-fish__img{
    position: absolute;
    top: rem(-24);
    left: calc(50% - min(46vw, rem(620)));
    transform: scaleX(-1);
    width: rem(120);
    z-index: -1;
    @include mq("md") {
      top: rem(-70);
      width: rem(301);
    }
}