@use "global" as *;

.page-mv {
  width: 100%;
  height: rem(460);
  position: relative;
  background-size: cover;
  background-position: center;
    @include mq("md") {
   height: rem(548);
    }
}

.page-mv::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(64, 145, 150, 0.3) 50%,rgba(64, 145, 150, 0.3) 0%);
}

.page-mv--campaign{
  background-image: url(../images/campaign/campaign-mv.jpg);
    @include mq("md") {
      background-image: url(../images/campaign/campaign-mv-pc.jpg);
    }
}

.page-mv--about{
  background-image: url(../images/about/about-mv.jpg);
    @include mq("md") {
      background-image: url(../images/about/about-mv-pc.jpg);
    }
}

.page-mv--information{
  background-image: url(../images/information/information-mv.jpg);
    @include mq("md") {
      background-image: url(../images/information/information-mv-pc.jpg);
    }
}
.page-mv--blog{
  background-image: url(../images/blog/blog-mv.jpg);
    @include mq("md") {
      background-image: url(../images/blog/blog-mv-pc.jpg);
    }
}

.page-mv--voice{
  background-image: url(../images/voice/voice-mv.jpg);
    @include mq("md") {
      background-image: url(../images/voice/voice-mv-pc.jpg);
    }
}

.page-mv--price{
  background-image: url(../images/price/price-mv.jpg);
    @include mq("md") {
      background-image: url(../images/price/price-mv-pc.jpg);
    }
}
.page-mv--faq{
  background-image: url(../images/faq/faq-mv.jpg);
    @include mq("md") {
      background-image: url(../images/faq/faq-mv-pc.jpg);
    }
}
.page-mv--contact{
  background-image: url(../images/contact/contact-mv.jpg);
    @include mq("md") {
      background-image: url(../images/contact/contact-mv-pc.jpg);
    }
}
.page-mv--common{
  background-image: url(../images/common/common-mv.jpg);
    @include mq("md") {
      background-image: url(../images/common/common-mv-pc.jpg);
    }
}