@use "global" as *;

.popular-item{
    box-shadow: rem(2) rem(2) rem(10) rgba($color: #000000, $alpha: 0.25);
    opacity: 1;
    transition: opacity 0.3s;
    display: flex;
    padding: rem(16);
    gap: rem(16);
}
.popular-item:hover{
    opacity: 0.8;
}
.popular-item:not(:first-child){
    margin-top: rem(24);
}

.popular-item__content-wrap{
    flex: 1;
}

.popular-item__img{
    width: 46.156%;
    // max-width: rem(121);
}
.popular-item__img img{
    aspect-ratio: 121 /90;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.popular-item__date{
    font-family: "Gotu",sans-serif;
    font-size: rem(12);
    line-height: calc(18 / 12);
    color: $deepGreen;
    font-weight: $regular;
    vertical-align: super;
}

.popular-item__title{
    font-family: "Noto sans jp",sans-serif;
    font-size: rem(16);
    color: $deepGreen;
    margin-top: rem(-3);
}