@use "global" as *;
.price-content__inner{
    padding-left: rem(15);
    padding-right: rem(15);
    max-width: rem(750);
    margin-inline: auto;
  @include mq("md") {
 padding-left: rem(25);
 padding-right: rem(25);
  }
}


.price-content__list:not(:first-child) {
    margin-top: rem(38);
    @include mq("md") {
      margin-top: rem(80);
    }
  }
  .price-content__list::before{
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: visible;
  }