@use "global" as *;

.price {
  background-color: $lightGreen;
  padding-top: rem(80);
  padding-bottom: rem(82);
  @include mq("md") {
    padding-top: rem(100);
    padding-bottom: rem(103);
  }
}

.price__layout{
  margin-top: rem(82);
    @include mq("md") {
   margin-top: rem(144);
    }
}
.price__inner {
  position: relative;
  max-width: rem(600);
  margin: auto;
}

.prise__content {
  display: flex;
  flex-direction: column;
  margin-top: rem(28);
  column-gap: rem(93);
  @include mq("md") {
    flex-direction: row-reverse;
    margin-top: rem(40);
    column-gap: rem(91);
  }
}

.price__image-container {
  @include mq("md") {
    width: 50%;
    aspect-ratio: 492 / 742;
  }
}
.price__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.price__menu-list {
  margin-top: rem(40);
  @include mq("md") {
    width: 50%;
    margin-top: rem(0);
  }
}

.price__menu-group:not(:first-child) {
  margin-top: rem(39);
}

.price__title {
  position: relative;
}
.price__title ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: rem(1);
  background-color: $accentGreen;
  bottom: 0;
  left: 0;
}
.price__menu-item {
  display: flex;
  align-items: end;
  margin-top: rem(8);
}

.price__menu-name {
  margin-right: auto;
  color: $deepGreen;
  font-weight: $regular;
  font-size: rem(14);
  line-height: 1.714;
  font-family: "Noto Sans Jp", sans-serif;
  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5;
  }
}

.price__menu-price {
  display: inline-block;
  color: $deepGreen;
  font-weight: $regular;
  font-size: rem(14);
  line-height: 1.714;
  font-family: "Noto Sans Jp", sans-serif;
  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5;
  }
}

.price__menu-price::before {
  content: "\0a5";
}

.price__button-wrap {
  text-align: center;
  margin-top: rem(42);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.price__layer-fish {
  @include mq("md") {
    position: absolute;
    bottom: rem(-42);
    left: calc(50% - min(50vw, rem(640)) + rem(20));
    width: rem(437);
  }
}
