@use "global" as *;

// .title {
// position: relative;
// }
// .title::after{
//   position: absolute;
//   content: "";
//   width: 100%;
//   height: rem(1);
//   background-color: $accentGreen;
//   bottom: rem(3);
//   left: 0;
// }

.title-text {
  // display: inline-block;
  color: $deepGreen;
  font-weight: $normal;
  font-size: rem(16);
}

.title-text.title-text--campaign {
  width: 100%;
  flex-grow: 1;
}
.title-text.title-text--large-info {
  font-size: rem(20);
  font-weight: $bold;
  display: block;
  @include mq("md") {
    font-size: rem(24);
  }
}

.title-text.title-text--large-voice {
  line-height: 1.5;
  @include mq("md") {
    font-size: rem(24);
    line-height: 1.45;
  }
}

.title-text.title-text--blog-title{
  font-size: rem(24);
  font-weight: $normal;
  font-family: "Noto Sans Jp",sans-serif;
  margin-top: rem(5);
  padding-bottom: rem(3);
    @include mq("md") {
      font-size: rem(32);
      padding-bottom: rem(0);
    }
}