@use "global" as *;

// .title {
// position: relative;
// }
// .title::after{
//   position: absolute;
//   content: "";
//   width: 100%;
//   height: rem(1);
//   background-color: $accentGreen;
//   bottom: rem(3);
//   left: 0;
// }

.title__text {
  display: inline-block;
  color: $deepGreen;
  font-weight: $normal;
  font-size: rem(16);
}

.title__text.title__text--campaign {
  width: 100%;
  flex-grow: 1;
}
.title__text.title__text--large-info {
  font-size: rem(20);
  font-weight: $bold;
  @include mq("md") {
    font-size: rem(24);
  }
}

.title__text.title__text--large-voice {
  line-height: 1.5;
  @include mq("md") {
    font-size: rem(24);
    line-height: 1.45;
  }
}
