@use "global" as *;


.voice{
  position: relative;
}

.voice__inner{
  padding-top: rem(82);
  padding-bottom: rem(82);
  @include mq("md"){
    padding-top: rem(140);
    padding-bottom: rem(140);
  }
}

.voice__cards{
  display: grid;
  justify-content: center;
  margin-top: rem(42);
  row-gap: rem(38);
  column-gap: rem(40);
  grid-template-columns: repeat(auto-fit, min(100%, rem(520)));
  @include mq("md"){
    margin-top: rem(80);
  }
}
.voice__button-wrap{
  text-align: center;
  padding-top: rem(37);
  @include mq("md"){
    padding-top: rem(80);
  }
}


.voice__layer-fish{
  position: absolute;
  top: rem(20);
  left: 6.94%;
  transform: scaleX(-1);
  width: rem(301);
}
.voice__layer-dragonfish{
  position: absolute;
  right: 12.5%;
  bottom: rem(73);
  width: rem(71);
}