@use "global" as *;

.voice__inner {
  position: relative;
  padding-top: rem(83);
  padding-bottom: rem(82);
  max-width: rem(600);
  margin: auto;
  @include mq("md") {
    padding-top: rem(144);
    padding-bottom: rem(143);
  }
}

.voice__cards {
  display: grid;
  justify-content: center;
  margin-top: rem(42);
  grid-row-gap: rem(40);
  grid-column-gap: rem(40);
  grid-template-columns: 1fr;
  @include mq("md") {
    grid-template-columns: repeat(auto-fit, min(100%, rem(520)));
    margin-top: rem(27);
  }
}
.voice__button-wrap {
  text-align: center;
  padding-top: rem(40);
  @include mq("md") {
    padding-top: rem(79);
  }
}

.voice__layer-fish {
  position: absolute;
  top: rem(23);
  left: calc(50% - min(50vw, rem(640)) + rem(20));
  transform: scaleX(-1);
  width: rem(301);
}

.voice__layer-dragonfish {
  position: absolute;
  right: calc(50% - min(50vw, rem(560)) + rem(20));
  bottom: rem(73);
  width: rem(71);
}
