@use "global" as *;
.voice-card{
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black, $alpha: .25);
  background-color: $white;
}

.voice-card__inner{
  padding: rem(15) rem(16) rem(24);
  @include mq("md"){
    padding: rem(24);
  }
}

.voice-card__head{
  display: flex;
  align-items: end;
  @include mq("md"){
    gap: rem(16);
  }

  gap: rem(13);
}




.voice-card__personal{
  color: $deepGreen;
  font-weight: $regular;
  font-size: rem(12);
  line-height: 1.5;
}
.voice-card__head-text-inner{
  display: flex;
  flex-direction: column;
  @include mq("md"){
    flex-direction: row;
    align-items: end;
  }
}

.voice-card__tag{
  display: inline-block;
  margin-right: auto;
  padding: rem(4) rem(12);
  border: $accentGreen rem(1) solid;
  color: $accentGreen;
  font-size: rem(12);
  line-height: 1.833;
  @include mq("md"){
    margin-right: 0;
    margin-left: auto;
  }
}

.voice-card__title{
  padding-top: rem(4);
  padding-top: rem(8);
}

.voice-card__head-image{
  max-width: rem(180);
}

.voice-card__text{
  padding-top: rem(16);
  @include mq("md"){
    padding-top: rem(40);
  }
}
